* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

nav {
    background-color: chocolate;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 19px;
}

nav .NavLink {
    color: black;
    transition: .5s ease-in;
}

nav .NavLink:hover {
    color: white;
}

main {
    padding: 20px;
    min-height: 615px;
    text-align: left;
    background-color: burlywood;   
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 40px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* .btn {
    display: flex;
    align-items: center;
    gap: 10px;
} */

button {
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color.5s ease-in;
    margin: 10px;
}

button:hover {
    background-color: orange;
}

form {
    margin-top: 55px;
    font-size: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

